<li class="list-group-item">
  <div class="row">
      <div class="col-md-3">

        <img alt="{{title}}" src="{{url}}" class="img-rounded" width="200"  />
      </div>
      <div class="col-md-9">
        <h2>{{title}}</h2>
        <p>{{descripcion}}</p>
        {{url}} 
      </div>
  </div>
</li>



{{yield}}
