
<div class="form-group"><label for="">TITLE</label>
{{input value=model.title type='text' class='form-control'}}
</div>
<div class="form-group"><label for="">URL</label>
{{input value=model.url type='text' class='form-control'}}
</div>
<div class="form-group"><label for="">Description:</label>
{{input value=model.description type='text' class='form-control'}}
</div>

<button {{action "addFav" model}} type="button" class="btn btn-default btn-xs">Agregar a favoritos</button>


{{outlet}}
